html {
  scroll-behavior: smooth;
}

/* section {
  height: 400px;
} */

#nav-bar {
  overflow: hidden;
  display: flex;
  direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: yellow;
  padding: 10px;
}

/* #logo {
  font-size: 20px;
  background-color: green;
} */

#nav {
  display: flex;
  direction: row;
  background-color: aquamarine;
  padding: 5px 20px;
}

#nav div {
  max-width: 90%;
  padding: 0px 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: #e5e7eb;
}

a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  color: #3882f6;
  cursor: pointer;
}
