html {
  scroll-behavior: smooth;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* create space to make sure everything is visible*/
/* section {
  height: 500px;
} */

body {
  position: relative;
  top: 0;
  scroll-behavior: smooth;
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  background-color: #e5e7eb;
  font-family: "Roboto", arial;
  align-content: center;
  text-align: center;
  overflow-x: hidden;
}

#nav-bar {
  overflow: hidden;
  display: flex;
  direction: row;
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  /*default background without z index*/
  /* background: #e5e7eb; */

  /*supposed to make the nav bar transparent...shows background of of item with lower index order*/
  background: transparent;
  z-index: 1;
  padding: 10px;
}

#logo {
  color: #e5e7eb;
  font-size: 20px;

  /* this should stick logo to the left side of the #nav-bar row..doesnt so far */
  float: left;
}

#nav {
  float: right;
  display: flex;
  direction: row;
  /*  background-color: #e5e7eb; */
  padding: 5px 20px;
  align-items: center;
}

#nav div {
  max-width: 90%;
  padding: 0px 20px;
}

a,
a:link,
a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  color: #3882f6;
  font-weight: bold;
  cursor: pointer;
}

/* The hero image */
#hero-section {
  /* Set a specific height */
  height: 100%;

  /*background image*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../naledi-aphane/images/Naledi-Aphane.jpg");
  z-index: 0;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  padding: 0px;
  margin: 0px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* BUTTON: all */
.btn {
  height: 100px;
  width: 100px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  border-radius: 5000px;
  transition: transition 0.3s;
}
.btn:hover {
  transform: scale(1.75);
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.container {
  position: relative;
  overflow: hidden;
  width: 90%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#previous-work a,
#previous-work a:link,
#previous-work a:visited {
  /*   text-decoration: none; */
  color: black;
  padding: 15px 20px;
}

#previous-work {
  background-color: white;
}
